<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
    {{#if error}}
      <div style="margin-top:-40px"></div>
      {{#each error}}
        <div class="alert alert-danger">{{texto}}</div>
      {{/each}}
    {{/if}}
  </head>
  <body>
    <div class="title">Cadastrar usuários</div>
    <form action="" method="post" autocomplete="off">
      <div class="create-user">
        <div class="first-column">
          <div class="row">
            <p>Nome Completo</p>
            <div class="search-input big">
              <input spellcheck="false" class="use-keyboard-input" type="text" name="nome" value="{{usuario.nome}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Setor</p>
            <div class="search-input big">
              <input spellcheck="false" class="use-keyboard-input" type="text" name="setor" value="{{usuario.setor}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Login</p>
            <div class="search-input big">
              <input spellcheck="false" class="use-keyboard-input" type="text" name="login" value="{{usuario.login}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Senha</p>
            <div class="search-input small" style="margin-left:-110px">
              <input class="use-numpad-input-null"  id="boxSenha"  onclick='resetSenha()' type="password" name="senha" required/>
            </div>
          </div>
          <div class="row">
            <p>Código do Cartão</p>
            <div class="search-input small" style="margin-left:-110px">
              <input spellcheck="false" id="boxCartao" onclick='openRfid()' type="text" name="rfid" value="{{usuario.rfid}}" style="caret-color:transparent"/>
            </div>
          </div>
          <div class="row">
            <p>Gavetas</p>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(1)">
              <p>GV1</p>
              <input id="gv1" type="hidden" class="inside" type="text" name="gv1" value="true"/>
              <div id="checkGV1" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(2)">
              <p>GV2</p>
              <input id="gv2" type="hidden" class="inside" type="text" name="gv2" value="true"/>
              <div id="checkGV2" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(3)">
              <p>GV3</p>
              <input id="gv3" type="hidden" class="inside" type="text" name="gv3" value="true"/>
              <div id="checkGV3" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(4)">
              <p>GV4</p>
              <input id="gv4" type="hidden" class="inside" type="text" name="gv4" value="true"/>
              <div id="checkGV4" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(5)">
              <p>GV5</p>
              <input id="gv5" type="hidden" class="inside" type="text" name="gv5" value="true"/>
              <div id="checkGV5" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(6)">
              <p>GV6</p>
              <input id="gv6" type="hidden" class="inside" type="text" name="gv6" value="true"/>
              <div id="checkGV6" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(7)">
              <p>GV7</p>
              <input id="gv7" type="hidden" class="inside" type="text" name="gv7" value="true"/>
              <div id="checkGV7" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(8)">
              <p>GV8</p>
              <input id="gv8" type="hidden" class="inside" type="text" name="gv8" value="true"/>
              <div id="checkGV8" class="check"></div>
            </div>
          </div>
          <div style="display: flex; justify-content: center; margin-right: -430px">
            <button type="submit" class="btns" style="margin-top:40px">
              <p>Salvar</p>
            </button>
          </div>
        </div>
        <!--<div type="" class="second-column">
          <div class="frame-user">
            <img [src]="srcImage" [ngStyle]="{'width': !user.image ? '80%' : 'inherit', 'height': !user.image ? 'auto' : 'inherit'}" />
          </div>
          <button class="btns">
            <p>Buscar Imagem</p>
          </button>
          <button type="submit" class="btns" style="margin-top:50px">
            <p>Salvar</p>
          </button>
        </div>-->
      </div>
    </form>

    <dialog id="dialogRfid" style="background: none; border: transparent">
      <form method="dialog" >
        <div class="janela-rfid">
          <div class="contents" style="margin-top: 20px">
            <div class="logoRfid"></div>
          </div>
          <div class="contents">
            <p id="textFalhaCameras" style="margin-top: 20px">Aproxime o cartão do leitor</p>
          </div>
          <div class="contents" style="margin-top: 18px">
            <button class="btns" onclick="closeRfid()">
              <p>Cancelar</p>
            </button>
          </div>
        </div>
      </form>
    </dialog>

    <script src="/socket.io/socket.io.js"></script>
    <script>
	(function(_0x53e563,_0x26e74c){var _0x5680c1=_0x5749,_0x53e244=_0x53e563();while(!![]){try{var _0x1f1c2d=parseInt(_0x5680c1(0x7f))/0x1+-parseInt(_0x5680c1(0x7d))/0x2+parseInt(_0x5680c1(0x7b))/0x3*(parseInt(_0x5680c1(0x72))/0x4)+parseInt(_0x5680c1(0x70))/0x5*(-parseInt(_0x5680c1(0x75))/0x6)+parseInt(_0x5680c1(0x71))/0x7+-parseInt(_0x5680c1(0x6a))/0x8+-parseInt(_0x5680c1(0x6d))/0x9;if(_0x1f1c2d===_0x26e74c)break;else _0x53e244['push'](_0x53e244['shift']());}catch(_0xe0b4e3){_0x53e244['push'](_0x53e244['shift']());}}}(_0x46f1,0x57795));var rfidOpen=0x0;document['addEventListener']('keydown',function(_0x23aa89){var _0x58d897=_0x5749;rfidOpen==0x1&&(rfidOpen=0x0,document[_0x58d897(0x74)](_0x58d897(0x6c))[_0x58d897(0x7c)]()),_0x23aa89['keyCode']==0xd&&(_0x23aa89[_0x58d897(0x79)](),document[_0x58d897(0x74)]('boxCartao')[_0x58d897(0x78)]());});function openRfid(){var _0x30b655=_0x5749;rfidOpen=0x1,document[_0x30b655(0x74)]('boxCartao')['value']='',document[_0x30b655(0x74)]('dialogRfid')[_0x30b655(0x6f)]();}function closeRfid(){var _0x5756e8=_0x5749;rfidOpen=0x0,document[_0x5756e8(0x74)](_0x5756e8(0x6c))[_0x5756e8(0x7c)](),document[_0x5756e8(0x74)](_0x5756e8(0x73))[_0x5756e8(0x78)]();}function _0x5749(_0x420531,_0x1a830b){var _0x46f19a=_0x46f1();return _0x5749=function(_0x5749d4,_0x2fef95){_0x5749d4=_0x5749d4-0x6a;var _0x2cdf9c=_0x46f19a[_0x5749d4];return _0x2cdf9c;},_0x5749(_0x420531,_0x1a830b);}function _0x46f1(){var _0xd02f0b=['getElementById','24UVKLBu','checkGV','not-check','blur','preventDefault','className','426093DdzHHw','close','442508bNpbcm','value','291357nYXfWD','boxSenha','2106008ZtCvGF','false','dialogRfid','291816hJRLmP','true','showModal','829925psLiHQ','4757767qHGMzu','16AzmQMo','boxCartao'];_0x46f1=function(){return _0xd02f0b;};return _0x46f1();}function alteraAcessoGv(_0x5a0169){var _0x17adec=_0x5749;document[_0x17adec(0x74)]('gv'+_0x5a0169)['value']==_0x17adec(0x6b)?(document[_0x17adec(0x74)]('gv'+_0x5a0169)['value']=_0x17adec(0x6e),document[_0x17adec(0x74)]('checkGV'+_0x5a0169)[_0x17adec(0x7a)]='check'):(document[_0x17adec(0x74)]('gv'+_0x5a0169)[_0x17adec(0x7e)]='false',document[_0x17adec(0x74)](_0x17adec(0x76)+_0x5a0169)[_0x17adec(0x7a)]=_0x17adec(0x77));};function resetSenha(){var _0x552252=_0x5749;document[_0x552252(0x74)](_0x552252(0x80))[_0x552252(0x7e)]='';}
    </script>
  </body>
  <foot>
    <div class="footer">
      <a href="/admin/useroptions"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>
