<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
    {{#if error}}
      <div style="margin-top:-40px"></div>
      {{#each error}}
        <div class="alert alert-danger">{{texto}}</div>
      {{/each}}
    {{/if}}
  </head>
  <body>
    <div class="title">Cadastrar usuários</div>
    <form action="" method="post" autocomplete="off">
      <div class="create-user">
        <div class="first-column">
          <div class="row">
            <p>Nome Completo</p>
            <div class="search-input big">
              <input class="use-keyboard-input" type="text" name="nome" value="{{usuario.nome}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Setor</p>
            <div class="search-input big">
              <input class="use-keyboard-input" type="text" name="setor" value="{{usuario.setor}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Login</p>
            <div class="search-input big">
              <input class="use-keyboard-input" type="text" name="login" value="{{usuario.login}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Senha</p>
            <div class="search-input small" style="margin-left:-110px">
              <input class="use-numpad-input"  id="boxSenha"  onclick='resetSenha()' type="password" name="senha" required/>
            </div>
          </div>
          <div class="row">
            <p>Código do Cartão</p>
            <div class="search-input small" style="margin-left:-110px">
              <input class="use-numpad-input"  id="boxCartao" onclick='resetCartao()' type="text" name="rfid" value="{{usuario.rfid}}"/>
            </div>
          </div>
          <div class="row">
            <p>Gavetas</p>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(1)">
              <p>GV1</p>
              <input id="gv1" type="hidden" class="inside" type="text" name="gv1" value="true"/>
              <div id="checkGV1" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(2)">
              <p>GV2</p>
              <input id="gv2" type="hidden" class="inside" type="text" name="gv2" value="true"/>
              <div id="checkGV2" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(3)">
              <p>GV3</p>
              <input id="gv3" type="hidden" class="inside" type="text" name="gv3" value="true"/>
              <div id="checkGV3" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(4)">
              <p>GV4</p>
              <input id="gv4" type="hidden" class="inside" type="text" name="gv4" value="true"/>
              <div id="checkGV4" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(5)">
              <p>GV5</p>
              <input id="gv5" type="hidden" class="inside" type="text" name="gv5" value="true"/>
              <div id="checkGV5" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(6)">
              <p>GV6</p>
              <input id="gv6" type="hidden" class="inside" type="text" name="gv6" value="true"/>
              <div id="checkGV6" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(7)">
              <p>GV7</p>
              <input id="gv7" type="hidden" class="inside" type="text" name="gv7" value="true"/>
              <div id="checkGV7" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(8)">
              <p>GV8</p>
              <input id="gv8" type="hidden" class="inside" type="text" name="gv8" value="true"/>
              <div id="checkGV8" class="check"></div>
            </div>
          </div>
        </div>
        <div type="" class="second-column">
          <div class="frame-user">
            <img [src]="srcImage" [ngStyle]="{'width': !user.image ? '80%' : 'inherit', 'height': !user.image ? 'auto' : 'inherit'}" />
          </div>
          <!--<button class="btns">
            <p>Buscar Imagem</p>
          </button>-->
          <button type="submit" class="btns" style="margin-top:50px">
            <p>Salvar</p>
          </button>
        </div>
      </div>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
	(function(_0x165840,_0x3abee8){var _0x31b042=_0x40af,_0x2c56a3=_0x165840();while(!![]){try{var _0x15cfee=parseInt(_0x31b042(0xfb))/0x1+-parseInt(_0x31b042(0xf2))/0x2+-parseInt(_0x31b042(0xf7))/0x3+-parseInt(_0x31b042(0xf5))/0x4*(-parseInt(_0x31b042(0xf0))/0x5)+-parseInt(_0x31b042(0xf8))/0x6+parseInt(_0x31b042(0xec))/0x7+parseInt(_0x31b042(0xed))/0x8*(parseInt(_0x31b042(0xf9))/0x9);if(_0x15cfee===_0x3abee8)break;else _0x2c56a3['push'](_0x2c56a3['shift']());}catch(_0x3478c3){_0x2c56a3['push'](_0x2c56a3['shift']());}}}(_0x516d,0x55578));function _0x40af(_0x5ba758,_0x5dc25a){var _0x516d97=_0x516d();return _0x40af=function(_0x40af72,_0x2ae701){_0x40af72=_0x40af72-0xeb;var _0x36e098=_0x516d97[_0x40af72];return _0x36e098;},_0x40af(_0x5ba758,_0x5dc25a);}function alteraAcessoGv(_0x3660ba){var _0x1dd481=_0x40af;document[_0x1dd481(0xee)]('gv'+_0x3660ba)[_0x1dd481(0xeb)]==_0x1dd481(0xf3)?(document[_0x1dd481(0xee)]('gv'+_0x3660ba)[_0x1dd481(0xeb)]=_0x1dd481(0xef),document[_0x1dd481(0xee)](_0x1dd481(0xf1)+_0x3660ba)[_0x1dd481(0xf4)]=_0x1dd481(0xf6)):(document[_0x1dd481(0xee)]('gv'+_0x3660ba)[_0x1dd481(0xeb)]='false',document[_0x1dd481(0xee)](_0x1dd481(0xf1)+_0x3660ba)[_0x1dd481(0xf4)]='not-check');};function _0x516d(){var _0x3a4447=['check','786801xCpooj','1431858CQdJxa','63coQqvE','boxSenha','531780mvaBgp','value','97811Zxcmdj','688216UjOyWd','getElementById','true','365cSPFKg','checkGV','1060830vUzgKM','false','className','12764zyfTQb'];_0x516d=function(){return _0x3a4447;};return _0x516d();}function resetSenha(){var _0x28758d=_0x40af;document['getElementById'](_0x28758d(0xfa))[_0x28758d(0xeb)]='';}function resetCartao(){var _0x36c254=_0x40af;document['getElementById']('boxCartao')[_0x36c254(0xeb)]='';}
    </script>
  </body>
  <foot>
    <div class="footer">
      <a href="/admin/useroptions"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>
