<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
    {{#if error}}
      <div style="margin-top:-40px"></div>
      {{#each error}}
        <div class="alert alert-danger">{{texto}}</div>
      {{/each}}
    {{/if}}
  </head>
  <body>
    <div class="title">Cadastrar usuários</div>
    <form action="" method="post" autocomplete="off">
      <div class="create-user">
        <div class="first-column">
          <div class="row">
            <p>Nome Completo</p>
            <div class="search-input big">
              <input class="use-keyboard-input" type="text" name="nome" value="{{usuario.nome}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Setor</p>
            <div class="search-input big">
              <input class="use-keyboard-input" type="text" name="setor" value="{{usuario.setor}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Login</p>
            <div class="search-input big">
              <input class="use-keyboard-input" type="text" name="login" value="{{usuario.login}}" required/>
            </div>
          </div>
          <div class="row">
            <p>Senha</p>
            <div class="search-input small" style="margin-left:-110px">
              <input class="use-numpad-input-null"  id="boxSenha"  onclick='resetSenha()' type="password" name="senha" required/>
            </div>
          </div>
          <div class="row">
            <p>Código do Cartão</p>
            <div class="search-input small" style="margin-left:-110px">
              <input id="boxCartao" onclick='resetCartao()' type="text" name="rfid" value="{{usuario.rfid}}"/>
            </div>
          </div>
          <div class="row">
            <p>Gavetas</p>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(1)">
              <p>GV1</p>
              <input id="gv1" type="hidden" class="inside" type="text" name="gv1" value="true"/>
              <div id="checkGV1" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(2)">
              <p>GV2</p>
              <input id="gv2" type="hidden" class="inside" type="text" name="gv2" value="true"/>
              <div id="checkGV2" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(3)">
              <p>GV3</p>
              <input id="gv3" type="hidden" class="inside" type="text" name="gv3" value="true"/>
              <div id="checkGV3" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(4)">
              <p>GV4</p>
              <input id="gv4" type="hidden" class="inside" type="text" name="gv4" value="true"/>
              <div id="checkGV4" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(5)">
              <p>GV5</p>
              <input id="gv5" type="hidden" class="inside" type="text" name="gv5" value="true"/>
              <div id="checkGV5" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(6)">
              <p>GV6</p>
              <input id="gv6" type="hidden" class="inside" type="text" name="gv6" value="true"/>
              <div id="checkGV6" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(7)">
              <p>GV7</p>
              <input id="gv7" type="hidden" class="inside" type="text" name="gv7" value="true"/>
              <div id="checkGV7" class="check"></div>
            </div>
            <div class="acesso-gaveta" onclick="alteraAcessoGv(8)">
              <p>GV8</p>
              <input id="gv8" type="hidden" class="inside" type="text" name="gv8" value="true"/>
              <div id="checkGV8" class="check"></div>
            </div>
          </div>
          <div style="display: flex; justify-content: center; margin-right: -430px">
            <button type="submit" class="btns" style="margin-top:40px">
              <p>Salvar</p>
            </button>
          </div>
        </div>
        <!--<div type="" class="second-column">
          <div class="frame-user">
            <img [src]="srcImage" [ngStyle]="{'width': !user.image ? '80%' : 'inherit', 'height': !user.image ? 'auto' : 'inherit'}" />
          </div>
          <button class="btns">
            <p>Buscar Imagem</p>
          </button>
          <button type="submit" class="btns" style="margin-top:50px">
            <p>Salvar</p>
          </button>
        </div>-->
      </div>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var _0x50e50e=_0x5624;(function(_0x258fba,_0x8919ba){var _0x1fbca3=_0x5624,_0x3df83e=_0x258fba();while(!![]){try{var _0x8297ca=parseInt(_0x1fbca3(0x1e1))/0x1*(parseInt(_0x1fbca3(0x1db))/0x2)+-parseInt(_0x1fbca3(0x1dd))/0x3*(parseInt(_0x1fbca3(0x1df))/0x4)+-parseInt(_0x1fbca3(0x1e5))/0x5*(parseInt(_0x1fbca3(0x1ee))/0x6)+parseInt(_0x1fbca3(0x1ea))/0x7*(parseInt(_0x1fbca3(0x1e4))/0x8)+-parseInt(_0x1fbca3(0x1e0))/0x9+-parseInt(_0x1fbca3(0x1e3))/0xa*(-parseInt(_0x1fbca3(0x1dc))/0xb)+-parseInt(_0x1fbca3(0x1d9))/0xc*(-parseInt(_0x1fbca3(0x1d8))/0xd);if(_0x8297ca===_0x8919ba)break;else _0x3df83e['push'](_0x3df83e['shift']());}catch(_0x154955){_0x3df83e['push'](_0x3df83e['shift']());}}}(_0x4759,0x71fb7),document[_0x50e50e(0x1ed)]('keydown',function(_0x1d1766){var _0x4c282b=_0x50e50e;_0x1d1766[_0x4c282b(0x1de)]==0xd&&_0x1d1766['preventDefault']();}));function _0x5624(_0x5158f2,_0x29d504){var _0x475948=_0x4759();return _0x5624=function(_0x56244b,_0x2558a5){_0x56244b=_0x56244b-0x1d8;var _0x3a2514=_0x475948[_0x56244b];return _0x3a2514;},_0x5624(_0x5158f2,_0x29d504);}function alteraAcessoGv(_0x5bf0e0){var _0x1e98d3=_0x50e50e;document['getElementById']('gv'+_0x5bf0e0)[_0x1e98d3(0x1eb)]==_0x1e98d3(0x1e9)?(document[_0x1e98d3(0x1da)]('gv'+_0x5bf0e0)[_0x1e98d3(0x1eb)]=_0x1e98d3(0x1e2),document[_0x1e98d3(0x1da)]('checkGV'+_0x5bf0e0)[_0x1e98d3(0x1e8)]='check'):(document[_0x1e98d3(0x1da)]('gv'+_0x5bf0e0)[_0x1e98d3(0x1eb)]='false',document[_0x1e98d3(0x1da)](_0x1e98d3(0x1ef)+_0x5bf0e0)['className']=_0x1e98d3(0x1e7));};function _0x4759(){var _0x148c1b=['6477201mByqlu','315niQguF','true','1474930TTZJTN','1078992ZAiiYa','5PTfzrF','boxCartao','not-check','className','false','42FSTwhw','value','boxSenha','addEventListener','3496476vyyyGj','checkGV','26gkHUof','3275268kmrpgl','getElementById','2934HuKhfG','66aXhfIy','2798637RnZXyS','keyCode','4aRayLu'];_0x4759=function(){return _0x148c1b;};return _0x4759();}function resetSenha(){var _0xc890d9=_0x50e50e;document[_0xc890d9(0x1da)](_0xc890d9(0x1ec))[_0xc890d9(0x1eb)]='';}function resetCartao(){var _0x100a8b=_0x50e50e;document['getElementById'](_0x100a8b(0x1e6))[_0x100a8b(0x1eb)]='';}
    </script>
  </body>
  <foot>
    <div class="footer">
      <a href="/admin/useroptions"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>
