<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/grafico/user.css">
  <div id="frame-head">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
  </div>
  {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
  {{else}}
  {{/each}}
</head>
<body>
  <div id="frame-main">
    <div class="title">Buscar ferramenta</div>
    <form action="/usuarios/tools/buscar" method="POST" autocomplete="off">
      <div class="search-table1">
        <div class="first-column">
          <div class="search-user" autocomplete="off">
            <div>
              <div class="img"></div>
            </div>
            <div>
              <input class="use-keyboard-input" id="CampoBusca" type="text" name="toolSearch"></input>
            </div>
          </div>
        </div>
        <div class="second-column">
          <button id="buscar" type="submit" class="btns">
            <p>Buscar</p>
          </button>
        </div>
      </div>
    </form>
    <div class="search-table1">
      <div class="first-column">
        <div class="userlist-edit">
          <table id='Tabela2-title'>
            <tr style="height:38px; border: 1px solid #FAEFC0">
              <td style="width: 15%; background-color: #202020; color: #FAEFC0">Referência</td>
              <td style="width: 60%; background-color: #202020; color: #FAEFC0">Ferramenta</td>
              <td style="width: 10%; background-color: #202020; color: #FAEFC0">Gaveta</td>
              <td style="width: 15%; background-color: #202020; color: #FAEFC0">Estado</td>
            </tr>
          </table>
          <div class="scroll">
            <table id='Tabela2'>
              {{#each ferramentas}}
                <tr>
                  <td style="width: 15%">{{referencia}}</td>
                  <td style="text-align: left; width: 60%">{{descricao}}</td>
                  <td style="width: 10%">{{gaveta}}</td>
                {{#if estado}}
                  <td style="border-bottom:1px solid #FAEFC0; width: 15%; background-color: green; color: #FAEFC0">disponível</td>
                {{else}}
                  <td style="border-bottom:1px solid #FAEFC0; width: 15%; background-color: red; color: #FAEFC0">ausente</td>
                {{/if}}
                  <td style="display:none">{{documentacao}}</td>
                </tr>
              {{else}}
                </table>
                <h4 style="color:black; margin-top: 20px" align="center">Nenhuma ferramenta</h4>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
      <div>
        <div class="second-column">
          <div class="frame-tool" id="img-tool"></div>
        </div>
        <div class="second-column" style="flex-direction:row; display:flex; justify-content:space-between">
          <form action="/usuarios/gaveta" method="POST">
            <input type="hidden" name="gav" id="idShowGaveta"/>
            <div class="button-132" style="margin-top:15px">
              <button id="btShowGaveta" type="submit" class="zoom-gaveta"/>
            </div>
          </form>
          <!--<input type="hidden" name="log" id="LogDeleteUser"/>-->
          <div id="gav" class="button-132" style="margin-top:15px">
            <button onclick="abreGaveta()" id="botgav" class="btn-abregaveta"/>
          </div>
        </div>
        <div class="second-column" id="btn_documentacao" style="flex-direction:row; display:flex; justify-content:space-between; display:none">
          <form action="/usuarios/documentacao" method="POST">
            <input type="hidden" name="documentacao" id="idDocumentacao"/>
            <button class="button-180" style="margin-top:12px; margin-left:51px" id="btShowDocumentacao" type="submit">
              <p>Documentos</p>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div style="visibility: hidden" id='referencia'>{{busca}}</div>
    <div id="selTool" style="color:white"></div>
  </div>

  <dialog id="dialogGVTrancada" style="background: none; border: transparent">
    <form method="dialog">
      <div class="janela-gavetaTrancada">
        <div class="contents" style="margin-top: 40px; margin-left: 40px">
          <div class="error"></div>
          <p>Gaveta trancada, selecione uma ação:</p>
        </div>
        <div class="contents" style="margin-top: 50px; margin-left: 180px">
          <button class="btns" onclick="GvTrancadaAGV()">
            <p>Abrir</p>
          </button>
          <button class="btns" onclick="GvTrancadaFGV()">
            <p>Fechar</p>
          </button>
        </div>
      </div>
    </form>
  </dialog>

  <dialog id="dialogFalhaCamera" style="background: none; border: transparent">
    <form method="dialog" >
      <div class="janela-gavetaTrancada">
        <div class="contents" style="margin-top: 40px; margin-left: 40px">
          <div class="error"></div>
          <p id="textFalhaCameras"></p>
        </div>
        <div class="contents" style="margin-top: 50px; margin-left: 424px">
          <button class="btns" onclick="falhaCameraOk()">
            <p>OK</p>
          </button>
        </div>
      </div>
    </form>
  </dialog>

  <script  src="/socket.io/socket.io.js"></script>
  <script>
    var _0x3d581a=_0x2fd5;(function(_0x339c38,_0x17f60f){var _0x2a90fe=_0x2fd5,_0xfe68a1=_0x339c38();while(!![]){try{var _0x8e191e=-parseInt(_0x2a90fe(0x196))/0x1+parseInt(_0x2a90fe(0x1a1))/0x2*(parseInt(_0x2a90fe(0x1a5))/0x3)+parseInt(_0x2a90fe(0x1ab))/0x4+parseInt(_0x2a90fe(0x1cd))/0x5+-parseInt(_0x2a90fe(0x198))/0x6*(parseInt(_0x2a90fe(0x1bf))/0x7)+parseInt(_0x2a90fe(0x1a8))/0x8+-parseInt(_0x2a90fe(0x1c7))/0x9*(parseInt(_0x2a90fe(0x19a))/0xa);if(_0x8e191e===_0x17f60f)break;else _0xfe68a1['push'](_0xfe68a1['shift']());}catch(_0x444fca){_0xfe68a1['push'](_0xfe68a1['shift']());}}}(_0x2ac6,0x86381));var socket=io[_0x3d581a(0x1c5)](),gavetaAberta=0x0,gavetaSelecionada=0x0,auxBusca=document[_0x3d581a(0x19e)](_0x3d581a(0x1c2))['innerHTML'];socket[_0x3d581a(0x1b6)]('estadoGavetas');function _0x2ac6(){var _0xe59f3=['referencia','Tabela2','display:visible','connect','value','2539818uFkAAy','textFalhaCameras','img-tool','btShowGaveta','Falha\x20na\x20câmera\x202','reload','5392030jtcIOP','classList','bloqueiaInteracaoUsuario','Falha\x20na\x20câmera\x201','frame-main','deletaDados','abreGaveta','1028239pbLnjB','length','11436gsVIoA','.jpg\x27)','10uoTAhq','getElementsByTagName','estadoGavetas','remove','getElementById','idShowGaveta','innerHTML','13358gSmiTL','button-132-green','gav','frame-head','3ySxwvi','idDocumentacao','fechaGaveta','6550640tsAbZd','GvTrancadaFGV','btn-fechagaveta','1281332XFhJmO','toggle','style','selecionado','parentElement','dialogGVTrancada','auto','className','pointerEvents','c_loader','close','emit','click','gavetaAberta','none','botgav','frame-rodape','background-image:url(\x27../../imgTools/','btn-abregaveta','button-132','1337twgpRM','gavetaFechada','falhaComunicacaoCamera'];_0x2ac6=function(){return _0xe59f3;};return _0x2ac6();}var tabela=document[_0x3d581a(0x19e)](_0x3d581a(0x1c3)),linhas=tabela[_0x3d581a(0x19b)]('tr');document[_0x3d581a(0x19e)](_0x3d581a(0x19f))[_0x3d581a(0x1c6)]='',document[_0x3d581a(0x19e)](_0x3d581a(0x1a6))[_0x3d581a(0x1c6)]='',document[_0x3d581a(0x19e)]('CampoBusca')[_0x3d581a(0x1c6)]=auxBusca,socket['on']('result_GV',function(_0x1d0726){var _0x1678ca=_0x3d581a;location[_0x1678ca(0x1cc)]();}),socket['on']('estadoGavetas',function(_0x316b95){var _0x58d2e3=_0x3d581a;gavetaAberta=0x0;let _0x359f80=[0x8,0x7,0x6,0x5,0x4,0x3,0x2,0x1];for(const _0x7173bb of _0x359f80){_0x316b95[_0x7173bb-0x1]=='A'&&(gavetaAberta=_0x7173bb);}gavetaAberta>0x0?(document['getElementById'](_0x58d2e3(0x1a3))[_0x58d2e3(0x1b2)]=_0x58d2e3(0x1a2),document['getElementById'](_0x58d2e3(0x1ba))[_0x58d2e3(0x1b2)]=_0x58d2e3(0x1aa)):(document[_0x58d2e3(0x19e)]('gav')[_0x58d2e3(0x1b2)]=_0x58d2e3(0x1be),document[_0x58d2e3(0x19e)](_0x58d2e3(0x1ba))[_0x58d2e3(0x1b2)]=_0x58d2e3(0x1bd));}),socket['on'](_0x3d581a(0x1cf),function(){var _0x1118c8=_0x3d581a;document[_0x1118c8(0x19e)](_0x1118c8(0x193))['style']['pointerEvents']='none',document[_0x1118c8(0x19e)](_0x1118c8(0x1bb))[_0x1118c8(0x1ad)]['pointerEvents']=_0x1118c8(0x1b9),document['getElementById'](_0x1118c8(0x1a4))[_0x1118c8(0x1ad)][_0x1118c8(0x1b3)]='none';});function abreGaveta(){var _0x2de91c=_0x3d581a;if(gavetaAberta>0x0)socket['emit'](_0x2de91c(0x1a7),gavetaAberta);else gavetaSelecionada>0x0?socket[_0x2de91c(0x1b6)](_0x2de91c(0x195),gavetaSelecionada):document[_0x2de91c(0x19e)](_0x2de91c(0x1ca))[_0x2de91c(0x1b7)]();}socket['on'](_0x3d581a(0x1b8),function(_0xc9145){var _0x53c5cf=_0x3d581a;document[_0x53c5cf(0x19e)]('frame-main')['style'][_0x53c5cf(0x1b3)]=_0x53c5cf(0x1b1),document[_0x53c5cf(0x19e)](_0x53c5cf(0x1bb))['style']['pointerEvents']=_0x53c5cf(0x1b1),document['getElementById'](_0x53c5cf(0x1a4))[_0x53c5cf(0x1ad)]['pointerEvents']='auto',document[_0x53c5cf(0x19e)](_0x53c5cf(0x1a3))[_0x53c5cf(0x1b2)]=_0x53c5cf(0x1a2),document[_0x53c5cf(0x19e)](_0x53c5cf(0x1ba))['className']=_0x53c5cf(0x1aa),socket[_0x53c5cf(0x1b6)](_0x53c5cf(0x19c));}),socket['on'](_0x3d581a(0x1c0),function(_0x4916fa){var _0x4d9845=_0x3d581a;document[_0x4d9845(0x19e)](_0x4d9845(0x1a3))[_0x4d9845(0x1b2)]='button-132',document['getElementById'](_0x4d9845(0x1ba))[_0x4d9845(0x1b2)]=_0x4d9845(0x1b4);});function _0x2fd5(_0x2f4e8c,_0x3725e4){var _0x2ac6d1=_0x2ac6();return _0x2fd5=function(_0x2fd516,_0x2f6ac8){_0x2fd516=_0x2fd516-0x193;var _0x4d543c=_0x2ac6d1[_0x2fd516];return _0x4d543c;},_0x2fd5(_0x2f4e8c,_0x3725e4);}for(var i=0x0;i<linhas[_0x3d581a(0x197)];i++){var linha=linhas[i];linha['addEventListener'](_0x3d581a(0x1b7),function(){selLinha(this,![]);});}function selLinha(_0x4cc205,_0x5c2203){var _0x24c01f=_0x3d581a;if(!_0x5c2203){var _0x5d926b=_0x4cc205[_0x24c01f(0x1af)][_0x24c01f(0x19b)]('tr');for(var _0x34d448=0x0;_0x34d448<_0x5d926b[_0x24c01f(0x197)];_0x34d448++){var _0xb7026d=_0x5d926b[_0x34d448];_0xb7026d[_0x24c01f(0x1ce)][_0x24c01f(0x19d)](_0x24c01f(0x1ae));}}_0x4cc205['classList'][_0x24c01f(0x1ac)]('selecionado');var _0x740f16=tabela['getElementsByClassName']('selecionado')[0x0];_0x740f16=_0x740f16[_0x24c01f(0x19b)]('td'),document['getElementById'](_0x24c01f(0x19f))[_0x24c01f(0x1c6)]=_0x740f16[0x2][_0x24c01f(0x1a0)],gavetaSelecionada=_0x740f16[0x2][_0x24c01f(0x1a0)],document[_0x24c01f(0x19e)](_0x24c01f(0x1c9))['style']=_0x24c01f(0x1bc)+_0x740f16[0x0][_0x24c01f(0x1a0)]+_0x24c01f(0x199),document['getElementById'](_0x24c01f(0x1a6))[_0x24c01f(0x1c6)]=_0x740f16[0x4][_0x24c01f(0x1a0)];if(_0x740f16[0x4][_0x24c01f(0x1a0)]!='')document[_0x24c01f(0x19e)]('btn_documentacao')['style']=_0x24c01f(0x1c4);else document[_0x24c01f(0x19e)]('btn_documentacao')[_0x24c01f(0x1ad)]='display:none';}var btnEditar=document[_0x3d581a(0x19e)](_0x3d581a(0x1ca)),btnDeletar=document[_0x3d581a(0x19e)](_0x3d581a(0x194));function GvTrancadaAGV(){var _0x499514=_0x3d581a;document[_0x499514(0x19e)]('dialogGVTrancada')[_0x499514(0x1b5)](),socket['emit']('GvTrancadaAGV');}function GvTrancadaFGV(){var _0x3ac425=_0x3d581a;document[_0x3ac425(0x19e)]('dialogGVTrancada')[_0x3ac425(0x1b5)](),socket[_0x3ac425(0x1b6)](_0x3ac425(0x1a9));}function falhaCameraOk(){var _0xbf35c=_0x3d581a;document[_0xbf35c(0x19e)]('dialogFalhaCamera')[_0xbf35c(0x1b5)](),document[_0xbf35c(0x19e)]('textFalhaCameras')['innerHTML']='',document[_0xbf35c(0x19e)]('frame-main')[_0xbf35c(0x1ad)][_0xbf35c(0x1b3)]=_0xbf35c(0x1b1),location['reload']();}socket['on']('gavetaTrancada',function(_0x5058db){var _0x2dafe6=_0x3d581a;document['getElementById'](_0x2dafe6(0x1b0))['showModal']();}),socket['on'](_0x3d581a(0x1c1),function(_0x57acb6){var _0x2820ec=_0x3d581a;document[_0x2820ec(0x19e)]('dialogFalhaCamera')['showModal']();if(_0x57acb6==0x1)document[_0x2820ec(0x19e)](_0x2820ec(0x1c8))[_0x2820ec(0x1a0)]=_0x2820ec(0x1d0);else _0x57acb6==0x2?document[_0x2820ec(0x19e)](_0x2820ec(0x1c8))['innerHTML']=_0x2820ec(0x1cb):document[_0x2820ec(0x19e)](_0x2820ec(0x1c8))[_0x2820ec(0x1a0)]='Falha\x20nas\x20duas\x20câmera';});
  </script>
</body>
<foot>
  <div class="footer" id="frame-rodape">
    <a href="/usuarios/main"><button class="btn_return"></button></a>
  </div>
</foot>
</html>
